<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    
    <title>Document</title>
</head>
<body>
    <h1>MAP</h1>
    <container id = "map" style = "width:900px; height:580px;"></container>
    <script>
        //creating MAP OPTIONS
        var mapOptions = {
            center: [17.385044, 78.486671],
            zoom: 10
        }    
        
        //creating MAP OBJECT
        var map = new L.map('map', mapOptions);

        //creating LAYER OBJECT
        var layer = new L.TileLayer('http://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/ {y}.png'); //takes layer from open street map

        //adds layer to map
        map.addLayer(layer);
    </script>
    
</body>
</html>